a.modifer-ce-profil.btn.btn-warning.btn-xs(href="/formulaireInfoComplementaires/#{profilOwner}", role='button') Modifer son profil 
input.supprimer-ce-profil.btn.btn-danger.btn-xs(id='#{profilOwner}', type='button', value='Supprimer son profil')
