.col-xs-12.visible-xs(style="margin-bottom:5px;padding:0px;")      
  ul.nav.nav-tabs
    li(role='presentation', class="active" )
      a(href='/profil/#{profilOwner}' ) Mur

    li(role='presentation' )
      a(href='/info/#{profilOwner}' ) Info

    li(role='presentation')   
      a(href='/amis/#{profilOwner}' ) Amis

    li(role='presentation')   
      a(href='/quizes/#{profilOwner}' ) Quiz