.row
  .col-md-3
    .well.text-left
      a(href='#').textRegular  
        #countPosts.span.badge 0 
        span posts publiés
  .col-md-3
    .well.text-left  
      a(href='/rechercheQuiz').align-left.textRegular
        #countQuiz.span.badge 0 
        span quizes publiés 
  .col-md-3
    .well.text-left  
      a(href='/rechercheMembre').align-left.textRegular
        #countMembers.span.badge 0   
        span membres connectés           