head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge') 
  meta(name='viewport', content='width=device-width, initial-scale=1') 
  meta(name='description', content='')
  meta(name='author', content='')
 
  title JS Quizz Social network
  
  // Bootstrap Core CSS
  link(href='../../jsquiz/css/bootstrap.css', rel='stylesheet')
  
  // Custom CSS
  link(href='../../jsquiz/css/style.css', rel='stylesheet')
  link(href='../../jsquiz/css/style_text.css', rel='stylesheet') 
  link(href='../../jsquiz/css/hover-min.css', rel='stylesheet')

  // jQuery, Bootstrap, socket.io
  script(src='../../jsquiz/js/jquery.min.js')
  script(src='../../jsquiz/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='../../jsquiz/js/moment.min.js')
  script(src='../../jsquiz/js/angular.min.js')

  // js client 
  script(src='../../jsquiz/js/client.js')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
   script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')        
   script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

 
     