doctype html
html
  include head.jade
  body  
    // Navigation
    include navigation.jade
    if msg 
      .alert.alert-danger.lead.text-center(role='alert')= msg 

    .container
      h1.text-center.textxLarge Changement mot de passe

      form(action='majPassword', method='post') 
        .row
          .col-md-12
               
            .colonne300

              br
              label.control-label(for='pwd') Password
              input.form-control(type='password', placeholder="Password", maxlength="100", name='pwd', required)
              
              br
              label.control-label(for='newpwd') Nouveau password 
              input.form-control(type='password', placeholder="New password", maxlength="100", name='newpwd', required)
              
              br
              label.control-label(for='newpwdverif') Nouveau password verification
              input.form-control(type='password', placeholder="New password verif", maxlength="100", name='newpwdverif', required)
              br
                                 
        .row
          br
          button.btn.btn-lg.btn-primary.center-block(style="width:250px;", type='submit',value='Send', id='submit') Valider

  img( id='jsLogo2' src='jsquiz/img/jsLogo2.png', style='position:absolute;top:45%;left:80%;width:10%;z-index:10000', alt='jsLogo2')          
  div(style="height:100px;") 
  include footer.jade