h2 JSQuiz  
p 
  | Grâce à ce site tu vas pouvoir tester tes connaissances en JavaScript. JsQuiz propose des tonnes de quiz sur le Javascript allant du niveau débutant au niveau expert. Tu peux crée et publier tes propres quiz si tu le souhaites et discuter avec d'autres développeurs.  


a.btn.btn-default(style='margin-top:-450px;' href='/about') More Info