h2 Technos utilisées
img.img-responsive.img-rounded(src='jsquiz/img/technos.png', alt='technos')
br        
p
  | Ce site a été developpé en javascript avec Node JS, Express, Socket.io, Mongo DB, Bootstrap, Jade et Jquery.
//img.img-responsive.img-rounded(src='jsquiz/img/IBM_3277_Display.jpg', alt='IBM_3277_Display')
a.btn.btn-default(href='https://fr.wikipedia.org/wiki/Node.js', target="_blank") Plus d'info
